// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {

	#feed_holder {
		margin-left: 20px;
	}

	#dev, #ops {
	border: 1px solid black;
	margin: 20px;
	padding: 0 0 10px 10px;
	box-shadow: inset 0 -2px 2px rgba(0,0,0,0.2);
	height: auto;
	}

	.people, .tele, .mail {
	padding-right: 20px;
	}

	.name, .number, .email {
	padding-top: 10px;
	}

	.name {
	font-style: bold;
	}

	.number{
	font-style: italic;

	}

	.btn {
		border: 1px solid #E6E6E6;
		padding: 20px;
		word-wrap: normal;
		margin:	5px;
		width: 60px;
		height: 100px;
		vertical-align: middle;
		&:hover {
			background: -webkit-linear-gradient(bottom, rgba(230,230,230,1) 3%,rgba(215,215,215,1) 45%,rgba(200,200,200,1) 70%,rgba(245,245,245,1) 95%);
			background: linear-gradient(to top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%);
			text-decoration: underline;
		}
	}
}


.debug_dump {
	padding: 10px;
	clear: both;
	float: left;
	width: 100%;
	margin: 45px;
	@include box_sizing;
}
