<% provide(:title, 'Whose Project Is It?') %>
<div class ="left column">
	<%= link_to "Create a New Project", entry_path, class: "navLink btn" %>
	<%= link_to "Find Information About Current Projects", "#", class: "navLink btn" %>
</div>
<div class = "right">
	<h1>Idea: Searchable database of Project info, any criteria search able</h1>
</div>