// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {

	#feed_holder {
		margin-left: 20px;
	}

	#dev, #ops {
	border: 1px solid black;
	margin: 20px;
	padding: 10px;
	/*box-shadow: inset 0 -2px 2px rgba(0,0,0,0.2);*/
	min-width: 450px;
	width: 50%;
	height: auto;
	}

	#left, #right {
		margin: 20px;
		width: 500px;
	}

	.people{
	width: 25%;
	}

	.tele{
	width: 25%;
	}

	.mail{
	width: 50%;
	}

	.name {
	padding-top: 10px;
	font-weight: bold;
	}

	.number{
	padding-top:10px;
	font-style: italic;
	}

	.email{
	padding-top:10px;

	}

	.table-caption{
	padding: 10px;
	}
}


.debug_dump {
	padding: 10px;
	clear: both;
	float: left;
	width: 100%;
	margin: 45px;
	@include box_sizing;
}
