<header>
	<div class="logo">
        <%= link_to "", 'http://www.moovweb.com', id: "logo-image" %>
	</div>
	<%= link_to "", '/', id: "h_logo" %>
		<h2>This will one day hold all inflight information for Client Success projects</h2>
</header>